.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.draggable-bar {
  transition: background-color 1s ease-out;
  padding: 10px;
}

.draggable-bar.dragover .inner {
  transition: height 1s ease;
  margin: 10px 0;
  background-color: gray;
}

.card {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: gray 1px 2px 3px;
  cursor: pointer;
  user-select: none;
}

.card img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

.card span {
  margin-left: 200px;
}

.draggable {
  background: white;
  transition: all 0.3s ease;
}

.draggable.dragging {
  opacity: 0;
  position: fixed;
  width: 100%;
}
